{% extends 'base.html' %}
{% load static %}
{% block content %}

<main class="searchpage">
    <div class="banner">
      <img src="{% static './assets/images/bg-banner.png' %}" alt="" class="img-fluid w-100">
      <h1 class="text-center">
        Search Result
      </h1>
    </div>

    <section class="searchbox container mt-5 p-3 bg-accent">
      <form method="get" action="{% url 'search' %}">
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-md-4">
            <select name="city" id="inputState" class="form-control">
              <option selected disabled hidden>City</option>
              {% for c in city %}
                <option value="{{c}}">{{c}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group col-md-4">
            <select name="camera_type" id="inputState" class="form-control">
              <option selected disabled hidden>Camera Type</option>
              {% for camera in camera_type %}
                <option value="{{camera}}">{{camera}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group col-md-4">
            <select name="category_type" class="form-control">
              <option selected disabled hidden>Category</option>
              {% for category in category_type %}
                <option value="{{category}}">{{category}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

      </form>
      <div class="text-center">

        <button class="btn btn-light">Search</button>
      </div>
    </section>



    <section class="search-results container mt-3 grid">

      {% for t in tubers %}
      <!-- person 1 -->
      <div class="card border-0 text-center">
        <div>
          <img src="{{t.photo.url}}" class="card-img-top" alt="team-member">

        </div>
        <div class="card-body">
          <h5 class="card-title">{{t.name}}</h5>
          <p class="card-text">{{t.category}}</p>
          <div class="person-description mt-2">
            <button class="btn btn-accent"> {{t.city}} </button>
            <button class="btn btn-accent"> {{t.age}} </button>
            <button class="btn btn-accent"> {{t.height}} </button>
          </div>
          <div class="person-description mt-2">
            <button class="btn btn-accent"> {{t.crew_type}} </button>
            <button class="btn btn-accent"> {{t.camera_type}} </button>
            <button class="btn btn-accent"> {{t.subs_count}} </button>
          </div>
        </div>
      </div>
      {% endfor %}
    </section>
  </main>

{% endblock %}